.sidebar-t {
    border-color: #000;
    border-style: solid;
}

.topbox {
    border-color: #27272a;
}

.shadcn-button {
    border-color: #27272a;
    color: #fafafa;
}

.shadcn-component {
    border-color: #27272a;
    background-color: #09090b;
    color: #fafafa;
}

.dark-icon {
    color: #fafafa
}

input[readOnly] {
    cursor: default;
  }